*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --def: #00c896;
    --inv: #fff;
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


/***STARTS MENU***/

nav {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    max-height: 20vh;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
}

nav div {
    margin-bottom: 3rem;
}

.nav_mobile {
    display: none;
}

.btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.2rem;
    color: var(--inv);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: var(--def);
    transition-delay: 0.5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: 0.35s;
}

.from-right:before,
.from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-right:after {
    right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
    width: 100%;
}


/***ENDS MENU***/

.container {
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #00c896;
    display: flex;
    height: 80vh;
}

main {
    display: flex;
    height: 80vh;
    flex-direction: column;
}

.header {
    font-size: 3rem;
    margin-bottom: 15px;
}

.intro {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.form-label,
.message-input {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    padding: 4px;
}

.error-form {
    color: white;
    font-size: 1.2rem;
}

.notification {
    align-items: center;
    background-color: #2c5364;
    border-radius: 5px;
    box-shadow: 8px 16px 32px 0px rgba(0, 0, 0, 0.75);
    color: white;
    display: none;
    font-size: 1.6rem;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 24px;
    top: 24px;
    width: 300px;
}

.message-input-text-area {
    height: 150px;
    margin-bottom: 16px;
    background: rgba(29, 160, 153, 0.6);
    color: white;
    padding-left: 15px;
    padding-top: 7.5px;
    font-weight: bold;
    font-size: 1rem;
}

input {
    width: 100%;
    height: 40px;
    background: rgba(29, 160, 153, 0.6);
    color: white;
    padding-left: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-weight: bold;
    font-size: 1rem;
}

.send-button {
    align-items: center;
    background-color: #138d73;
    border-radius: 5px;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 10px;
    width: 150px;
    margin-left: auto;
    font-size: 1.6rem;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .nav_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
    .nav_mobile h2 {
        margin-left: 10px;
        color: white;
        text-align: left;
        font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    }
    .nav_mobile i {
        padding: 15px;
        color: white;
        font-size: 1.5rem;
    }
    nav {
        display: none;
    }
    .container {
        display: block;
        overflow: scroll;
    }
}