*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --def: #00c896;
    --inv: #fff;
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


/***STARTS MENU***/

nav {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    max-height: 20vh;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
}

nav div {
    margin-bottom: 3rem;
}

.nav_mobile {
    display: none;
}

.btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.2rem;
    color: var(--inv);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: var(--def);
    transition-delay: 0.5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: 0.35s;
}

.from-right:before,
.from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-right:after {
    right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
    width: 100%;
}


/***ENDS MENU***/

.container {
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #00c896;
    display: flex;
    height: 80vh;
}

header {
    padding-left: 10%;
}

header h1 {
    font-size: 1.3rem;
}

main {
    display: flex;
    height: 80vh;
    flex-direction: column;
}

.links li {
    margin: 20px;
    text-align: left;
}

.links li a {
    text-decoration: none;
    color: #fff;
}

.profile-pic {
    height: 200px;
    width: 150px;
    border-radius: 200%;
}

.description {
    padding: 0 15%;
    text-align: justify;
    overflow-y: scroll;
    margin-bottom: 50px;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.description::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.description {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.description h2 {
    text-align: center;
    padding: 20px 0;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button_link {
    display: inline-block;
    width: fit-content;
    margin: 15px;
    border-radius: 50px;
    background: #213e4b;
    box-shadow: inset 2px 2px 6px #1c3540, inset -2px -2px 6px #264756;
    padding: 15px;
    color: #00c896;
    text-decoration: none;
}

.button_link:hover {
    border-radius: 50px;
    background: #213e4b;
    box-shadow: -20px -20px 60px #1c3540, 20px 20px 60px #264756;
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .nav_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
    .nav_mobile h2 {
        margin-left: 10px;
        color: white;
        text-align: left;
        font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    }
    .nav_mobile i {
        padding: 15px;
        color: white;
        font-size: 1.5rem;
    }
    nav {
        display: none;
    }
    .container {
        display: block;
        overflow: scroll;
    }
    header {
        padding-left: 0;
    }
    .links {
        list-style-position: inside;
    }
    .links li {
        text-align: center;
    }
}