*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --def: #00c896;
    --inv: #fff;
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


/***STARTS MENU***/

nav {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    max-height: 20vh;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
}

nav div {
    margin-bottom: 3rem;
}

.nav_mobile {
    display: none;
}

.btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.2rem;
    color: var(--inv);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: var(--def);
    transition-delay: 0.5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: 0.35s;
}

.from-right:before,
.from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-right:after {
    right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
    width: 100%;
}


/***ENDS MENU***/

.container {
    text-align: center;
    color: #00c896;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

header h1 {
    margin-top: -5vh;
    margin-bottom: 5vh;
    font-size: 3.3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article {
    margin-top: 10px;
}

.project_container img {
    height: 25vh;
}

.link_project {
    text-decoration: none;
    text-decoration-line: none;
    color: #00c896;
}

.link_project:hover {
    color: #fff;
    font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
    .nav_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
    .nav_mobile h2 {
        margin-left: 10px;
        color: white;
        text-align: left;
        font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    }
    .nav_mobile i {
        padding: 15px;
        color: white;
        font-size: 1.5rem;
    }
    nav {
        display: none;
    }
    .container {
        display: block;
        overflow: scroll;
    }
    header h1 {
        margin-top: 0px;
        margin-bottom: 5vh;
        font-size: 3.3rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 700px) {
    main {
        display: grid;
        margin: 0 10px;
        grid-template-columns: 1fr;
    }
}